@import url('https://fonts.cdnfonts.com/css/din-pro-cond');

/* font-family: 'DIN Pro Cond', sans-serif;
font-family: 'DIN Pro Regular', sans-serif;
font-family: 'DIN Pro Cond Light', sans-serif;
font-family: 'DIN Pro Light', sans-serif;
font-family: 'DIN Pro Cond Medium', sans-serif;
font-family: 'DIN Pro Medium', sans-serif;
font-family: 'DIN Pro Bold', sans-serif;
font-family: 'DIN Pro Cond Bold', sans-serif;
font-family: 'DIN Pro Black', sans-serif;
font-family: 'DIN Pro Cond Black', sans-serif; */

.App {
  text-align: center;
}
.card-wrapper{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header{
  font-family: 'DIN Pro Regular', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.header button{
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  margin-right: 5px;
  border: none;
  background-color: #fff;
  color: #3d3d3d;
}
.header button:hover{
  color: #3077EE;
  border-bottom: 2px solid #3077EE ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header button:active{
  color: #3077EE;
  border-bottom: 2px solid #3077EE ;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.header .searchInp{
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 200px;
  margin-right: 10px;
  border: 1px solid #dedede;
  border-radius: 50px;

}